.formContainer {
    display: flex;
    
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 1s0px;
    
  }

  .imagen_fondo1{
    background-image:url(../../assets/form.png); 
    width: 100%;
    height: 100%;
}
  
  .formContainer form {
   background-color: #4bb6cb8b;
   display: flex;
  gap: 5px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 500px;
    border-radius: 5px;
    padding: 10px;
    margin: 7px;
  }
  
  .formContainer label {
    width: 70%;
    margin: 1px 0;
    font-weight: bold;
  }
  
  .formContainer input[type="text"],
  .formContainer input[type="number"],
  .formContainer select {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
  }
  
  .formContainer button {
    background-color: #4BB5CB;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formContainer button:hover {
    background-color: #05050577;
  }
  
  .message {
    margin-top: 10px;
    font-weight: bold;
    color: #090909;
    size: 300px;
  }
  
  /* Estilo para el campo select múltiple */
  .formContainer select[multiple] {
    width: 330px;
    height: 350px;
    min-height: 50px;
  }
  
  /* Estilo para los options del select múltiple */
  .formContainer select[multiple] option {
    padding: 5px;
    font-size: 10px;
    height: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .titulo_form{
    font-size:14px;
    padding-right: 5px;
  }

  .izquierda{
    /* background-color: #e71d36; */
    width: 50%;
    height: 500px;
  }

  .derecha{
    background-color:#5f5e5ebb;
    width: 50%;
    height: 500px;

  }

  .form-group {
    flex: 1;
    margin-bottom: 15px;
  }

  
.titulos11{
  font-family: 'Lobster Two', sans-serif;
  color: #0a0a0a;
  font-size: 30px; 
  text-align: left;
  padding: 0px;
  margin: 0px;
  /* margin-left: 20px; */
}


.checkbox_selecion {
  /* Otros estilos que puedas tener */
  width: 95%;
  height: 360px;
  /* background-color:#5f5e5e5d; */
  text-align: center;
  justify-content: center;
  padding: 10px;

}

.checkbox-container {
  /* display: flex;
  text-align: center;
  width: auto; /* o el ancho necesario según tus requisitos 
  height: 300px;
  background-color: #1de7cf;
  
  white-space: nowrap; Agrega esta propiedad */
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(0, 50px);
  gap: 3px;

  height: 350px;
  text-align:justify;
  overflow: auto;
  margin-left: 10px;

}

.checkbox-item {

 font-size: 8px;
  padding: 2px;
  background: #4BB5CB;
  color: rgb(6, 6, 6);

}

.loginButton{
  margin-left: 10px;
}

  